{% extends "models3D/index.html" %}
{% load static %}

{% block title %}Описание модели{% endblock %}
{% block content %}
<div class="header">
  <h5>
    <!--<a onclick="javascript:history.back(); return false;">Назад</a>-->
    <input type="button" onclick="history.back();" value="Назад"/>
  </h5>
  <h1>{{ name }}</h1>
</div>
<div class="row">
  <ul>
    {% for sample in content %}
    <li>
      <img src="{{ sample.image }}" alt="{{ sample.name }}" width="50%" height="50%"/>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}